@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap);

body {
  font-family: "Roboto", sans-serif;
  font-family: var(--font-family);
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 1110px;
  width: 100%;
  padding: 0 2rem;
  margin: 0px auto;
}

:root {
  --primary: #666666;
  --secondary: #85859b;
  --purple: #7875fe;
  --slate-gray: #4c5866;
  --white: #ffffff;
  --font-family: "Roboto", sans-serif;
}

section {
  padding: 5rem 0;
}

.btn {
  font-weight: 400;
  font-size: 2rem;
  color: var(--purple);
  border: 1px solid var(--purple);
  padding: 2rem 5rem;
  max-width: 25.5rem;
}

/* ================================ HERO ================================ */

.hero {
  background-color: var(--white);
}

.header {
  padding: 3rem 0;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.header .container {
  display: flex;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.nav-list li:first-child {
  font-size: 3rem;
  color: var(--slate-gray);
  display: none;
}

.nav-link {
  font-weight: 400;
  font-size: 2rem;
  color: var(--slate-gray);
}

.nav-list li:last-child,
.header-end {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav-list li:last-child i,
.header-end i {
  font-size: 2.4rem;
  color: var(--slate-gray);
}

.nav-menu i {
  font-size: 3rem;
  color: var(--slate-gray);
  display: none;
}

.header-end {
  display: none;
}

.hero > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12rem;
  padding-block-start: 10rem;
}

.hero-info h1 {
  font-weight: 400;
  font-size: 6rem;
  line-height: 100%;
  color: var(--slate-gray);
  max-width: 44rem;
  margin-bottom: 3rem;
}

.hero-info p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--secondary);
  max-width: 45rem;
  margin-bottom: 3rem;
}

/* ================================ VARIANTS ================================ */

.variants {
  background: #c0c0c0;
}

.variants .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.variants-box {
  display: flex;
  align-items: center;
  gap: 3rem;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 0 0;
}

.variants-box h4 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--primary);
  margin-bottom: 1rem;
}

.variants-box p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 150%;
  color: #85859b;
}

/* ================================ RESPONSIVE ================================ */
@media (max-width: 992px) {
  /* ================================ HERO ================================ */
  .header {
    position: relative;
  }

  .header-nav {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 2rem;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .nav-list {
    justify-content: space-between;
  }

  .nav-list li:last-child {
    display: none;
  }

  .header-end {
    display: flex;
  }

  .hero > .container {
    flex-direction: column;
    text-align: center;
    gap: 5rem;
  }

  /* ================================ VARIANTS ================================ */

  .variants .container {
    flex-wrap: wrap;
  }
}

@media (max-width: 576px) {
  /* ================================ HEADER ================================ */

  .header-logo {
    display: block;
    margin: 0px auto;
    width: 14rem;
  }

  .nav-list {
    display: none;
  }

  .nav-menu i {
    display: block;
  }

  .header-end {
    position: absolute;
    right: 2rem;
    bottom: -60%;
  }

  .nav-list {
    width: 100%;
    position: fixed;
    top: 11.5%;
    left: 0;
    z-index: 100;
    background-color: #ebebeb;
    padding: 1.5rem 0 8.8rem 1.5rem;
    display: flex;
    transform: translateX(-100%);
    flex-direction: column;
    align-items: flex-start;
    transition: all 0.2s;
  }

  .nav-list.show {
    transform: translateX(0);
  }

  .nav-list li:first-child {
    display: block;
  }

  /* ================================ VARIANTS ================================ */

  .variants-box {
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}
